<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript">
            app.initialize();
        </script>
-->
<html ng-app="app">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, target-densitydpi=device-dpi" />
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <link rel="stylesheet" type="text/css" href="css/screen.css" />
        <title>Hello World</title>
    </head>
    <body>

        <header class="header">
            <h1>La vitrine du football</h1>
        </header>

        <section class="view" ng-view></section>

        <nav class="nav" ng-controller="NavCtrl">
            <a href="#home" ng-click="menu='home'" ng-class="{active:menu=='home'}"><i class="icon-home"><img src="img/icone_maison.gif"></i></a>
            <a href="#filter" ng-click="menu='filter'" ng-class="{active:menu=='filter'}"><i class="icon-about"><img src="img/icon-about.gif"></i></a>
        </nav>
        <script type="text/javascript">
        Parse.initialize("GCagVdbWBJaTnSYQbJaFpLj1VSe35wLx4H73cjK9","WEDJWqwQGACul4bOF7okY2AjHjvNh2rKkf9SCzwl");
        </script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
        <script type="text/javascript" src="js/angular-1.2.16/angular.js"></script>
        <script type="text/javascript" src="js/angular-1.2.16/angular-route.js"></script>
        <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.2.19.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <script src="js/controller/NavCtrl.js"></script>
    </body>
</html>
