/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 8, ../sass/screen.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, ../sass/screen.scss */
html, body {
  height: 100%;
  width: 100%;
  background-color: #292b3d;
}

/* line 16, ../sass/screen.scss */
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  line-heignt: 60px;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  background-color: #e79887;
}
/* line 26, ../sass/screen.scss */
.header h1 {
  margin-top: 30px;
}

/* line 30, ../sass/screen.scss */
.view {
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 60px;
  left: 0;
}

/* line 34, ../sass/screen.scss */
.nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90px;
  line-heignt: 60px;
  text-align: center;
  background-color: #51526f;
  overflow: hidden;
  *zoom: 1;
}
/* line 41, ../sass/screen.scss */
.nav a {
  display: block;
  width: 50%;
  height: 90px;
  line-height: 60px;
  float: left;
  color: red;
  padding-top: 20px;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 49, ../sass/screen.scss */
.nav a i {
  margin-top: 15px;
}
/* line 53, ../sass/screen.scss */
.nav a:first-child {
  border-right: 1px solid #FFF;
}
/* line 54, ../sass/screen.scss */
.nav .active {
  border-top: 4px solid #FFF;
}

/* line 57, ../sass/screen.scss */
.panel {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* line 64, ../sass/screen.scss */
.left {
  -webkit-transform: translate3D(-100%, 0, 0);
  -moz-transform: translate3D(-100%, 0, 0);
  -ms-transform: translate3D(-100%, 0, 0);
  -o-transform: translate3D(-100%, 0, 0);
  transform: translate3D(-100%, 0, 0);
}

/* line 65, ../sass/screen.scss */
.centre {
  -webkit-transform: translate3D(0, 0, 0);
  -moz-transform: translate3D(0, 0, 0);
  -ms-transform: translate3D(0, 0, 0);
  -o-transform: translate3D(0, 0, 0);
  transform: translate3D(0, 0, 0);
}

/* line 66, ../sass/screen.scss */
.right {
  -webkit-transform: translate3D(100%, 0, 0);
  -moz-transform: translate3D(100%, 0, 0);
  -ms-transform: translate3D(100%, 0, 0);
  -o-transform: translate3D(100%, 0, 0);
  transform: translate3D(100%, 0, 0);
}

/* line 68, ../sass/screen.scss */
#map-canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 27px;
  height: 100%;
  width: 100%;
}

/* line 78, ../sass/screen.scss */
.information {
  height: 30%;
  width: 70%;
  margin: 100px auto 0 auto;
  position: relative;
  border: 1px solid #000;
  background-color: #FFF;
}

/* line 86, ../sass/screen.scss */
.bouton {
  height: 50px;
  line-heignt: 60px;
  width: 30%;
  background-color: #41507e;
  border: 1px solid #d6e0eb;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-align: center;
  float: left;
  position: relative;
  margin: 70px auto 0 70px;
  padding-top: 15px;
  color: #FFF;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}

/* line 105, ../sass/screen.scss */
.filter {
  margin: 100px auto 0 auto;
  padding: 20px;
}

/* line 109, ../sass/screen.scss */
.select {
  border: 1px solid #FFF;
  border-radius: 5px;
  overflow: hidden;
  width: 90%;
  padding: 10px;
  margin: 10px auto;
  background: rgba(0, 0, 0, 0.5);
}
/* line 117, ../sass/screen.scss */
.select select {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  width: 130%;
  font-size: 140%;
  color: #fff;
  outline: none;
}
